__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.eggs/
outputs/
.cache/
.venv/
venv/
ENV/
.env
.env.local
.DS_Store
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
cookies.txt
.cache/generated_cookies.txt
.trae/*